<!doctype html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <title>Crowdsource</title>
  </head>
  <body>
    <h2 class="text-center title"><%= title %></h2>
    <div class="text-center">
      <h2 class="current-poll">Current Poll: <%= poll.name %></h2>
      <button type="button" name="button" id="close-poll">Close Poll</button>
      <h4><a href="/poll/<%= identifier.id %>/admin">Admin Link</a></h4>
      <h4><a href="/poll/<%= identifier.id %>" target="_blank">Public Link</a></h4>
    </div><br>
    <div class="text-center" id="choices">
      <% for(var i=0; i < poll.options.length; i++) { %>
        <% if(poll.options[i] !== '') { %>
          <button type="button" name="button"><%= poll.options[i] %></button><br><br>
        <% } %>
      <% } %>
    </div>
    <div class="text-center" id="my-vote"></div>
    <h3 class="text-center">Current Votes: <%= poll.showresults %></h3>
    <ul class="text-center" id="vote-tally">
      <% for(var i=0; i < poll.options.length; i++) { %>
        <% if(poll.options[i] !== '') { %>
          <li><%= poll.options[i] %>: <%= poll.votes[poll.options[i]] %></li>
        <% } %>
      <% } %>
    </ul><br>
    <div class="text-center" id="connection-count"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
