doctype html
html(lang="en")
  head
    title=title
  body
    h2= title
    h2= 'Current Poll: ' + poll.poll.name
    h2= 'Choice One: ' + poll.poll.options[0]
    h2= 'Choice Two: ' + poll.poll.options[1]

    #choices
     button A
     button B
     button C
     button D
   
   #my-vote
   h3 Current Votes:
   ul#vote-tally

    div#connection-count

    script(src='/socket.io/socket.io.js')
    script(src='/client.js')
